/* MOBILE */
@media screen and (max-width: 321px) {

     /* NAV */

     .navbar-brand img{
        max-width:8rem !important;
        margin-left:-2rem;
        margin-top:-1rem;
        padding:0;
      }

      nav ul{
          float: none !important;
          margin-top:-2rem;
      }

      .navbar-collapse{
          position: absolute;
          top:-2rem;
      }

      .navbar-nav .open .dropdown-menu {
margin-top:-4rem !important;
      }

      nav li a{
        font-size: 2.2rem;
        margin-top:11px;
        margin-bottom:20px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 3px;
        color: white !important;
        z-index: 100000;
        position: relative;
    }
  
  header {
    height: 2rem !important;
  }

  .navbar-nav {

    background-color: black;
  }

  .navbar-nav li a{
      font-size:1.3rem;
      padding-left:2rem;
      padding-top:2%;
  }
    
    #front_photo img{
        margin-top:-3rem !important;
    }
    #cover_text{
        bottom:0.5rem;
        left:1rem;
        font-size: 1rem;
        letter-spacing: 3px;
    }

    
#first_container #rotate{ 
    font-size: 1.1rem;
}

#first_container #rotate { 
  top:7%;

}

#first_container #dress a{
    font-size: 0.8rem;
    letter-spacing: 1px;
    top:16%;
    left:16.5%;

}

#first_container #jackets a{
    font-size: 0.8rem;
    letter-spacing: 1px;
    top:30%;
    right:20%;
  
}

#first_container #sweatshirts a{
    font-size: 0.8rem;
    letter-spacing: 1px;
    top:74%;
    right:20%;
}

#second_container #background2 img{
    width:100%;
    height:20rem;
    top:0;
    z-index: -21;
    position: relative;
    opacity:0.5;
}


#second_container #photo4 img{
  display: none;
}


#second_container #photo5 img{
    display: none;
}

div#third_container{
    position: relative;
    top:0;
}

#third_container #background3 img{
    display:none;
}

#third_container #photo6 img{
   display: none;
}

#mail_front{
    margin-top: -15rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color:black !important;
    font-weight:700;
    
}

.container{
    top:-4rem !important;
    width:100%!important;
    z-index: 20;
    position: absolute !important;
    color:black !important;
}

.container h1{
    font-size: 1.4rem;
}


#contactform{
    bottom:-18rem;
    right:10rem;
    z-index: 20;
    position: absolute !important;
    color:black !important;
}


#mail_front p{
    margin-top: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color:black !important;
    
}

#mail_front input.email_input{
    margin-bottom:0;
    width:18rem !important;
    letter-spacing: 6px;
    height:2rem;
    font-size: 1rem !important;
 
}

#mail_front input.send_input{
   letter-spacing: 5px;
    height:6rem;
    font-size: 2.5rem !important;
    right:-58%;
    top:-5.2rem;

}


/* CONTAINER 4 FOOTER */

#footer_menu{
    display:none;
}

#mobile_footer_menu{
display:block;
margin: 0 auto;
text-align: center !important;
}

#fourth_container menu {
    margin-top:15rem !important;
       height:10rem;
        width:100%;
        text-align: center;
        padding-top:2rem;
        
    }

    li.icon_bottom{
        text-align: center;
        margin-left:-6rem;
        
    }
    .icon_bottom i{
        font-size:5rem;
        text-align: center;
    }

}

/* MOBILE */
@media screen and (max-width: 482px) and (min-width: 322px) {

    /* NAV */

    .navbar-brand img{
       max-width:8rem !important;
       margin-left:-2rem;
       margin-top:-1rem;
       padding:0;
     }

     nav ul{
         float: none !important;
         margin-top:-2rem;
     }

     .navbar-collapse{
         position: absolute;
         top:-2rem;
     }

     .navbar-nav .open .dropdown-menu {
margin-top:-4rem !important;
     }

     nav li a{
       font-size: 2.2rem;
       margin-top:11px;
       margin-bottom:20px;
       font-family: 'Montserrat', sans-serif;
       letter-spacing: 3px;
       color: white !important;
       z-index: 100000;
       position: relative;
   }
 
 header {
   height: 2rem !important;
 }

 .navbar-nav {

   background-color: black;
 }

 .navbar-nav li a{
     font-size:1.3rem;
     padding-left:2rem;
     padding-top:2%;
 }
   
   #front_photo img{
       margin-top:-3rem !important;
   }
   #cover_text{
       bottom:0.5rem;
       left:1rem;
       font-size: 1rem;
       letter-spacing: 3px;
   }

   
#first_container #rotate{ 
   font-size: 1.6rem;
}

#first_container #rotate { 
 top:7%;

}

#first_container #dress a{
   font-size: 0.8rem;
   letter-spacing: 1px;
   top:16%;
   left:16.5%;

}

#first_container #jackets a{
   font-size: 0.8rem;
   letter-spacing: 1px;
   top:30%;
   right:20%;
 
}

#first_container #sweatshirts a{
   font-size: 0.8rem;
   letter-spacing: 1px;
   top:74%;
   right:20%;
}

#second_container #background2 img{
   width:100%;
   height:20rem;
   top:0;
   z-index: -21;
   position: relative;
   opacity:0.5;
}


#second_container #photo4 img{
 display: none;
}


#second_container #photo5 img{
   display: none;
}

div#third_container{
   position: relative;
   top:0;
}

#third_container #background3 img{
   display:none;
}

#third_container #photo6 img{
  display: none;
}

#mail_front{
   margin-top: -15rem;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 2px;
   text-align: center;
   color:black !important;
   font-weight:700;
   
}

.container{
   top:-4rem !important;
   width:100%!important;
   z-index: 20;
   position: absolute !important;
   color:black !important;
}

.container h1{
   font-size: 1.4rem;
}


#contactform{
   bottom:-18rem;
   z-index: 20;
   left:8.5rem;
   position: absolute !important;
   color:black !important;
}


#mail_front p{
   margin-top: 1.6rem;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 2px;
   text-align: center;
   font-size: 1.2rem;
   font-weight: 700;
   color:black !important;
   
}

#mail_front input.email_input{
   margin-bottom:0;
   width:18rem !important;
   letter-spacing: 6px;

   height:2rem;
   font-size: 1rem !important;

}

#mail_front input.send_input{
  letter-spacing: 5px;
   height:6rem;
   font-size: 2.5rem !important;
   right:-54%;
   top:-5.2rem;

}


/* CONTAINER 4 FOOTER */

#footer_menu{
   display:none;
}

#mobile_footer_menu{
display:block;
margin: 0 auto;
text-align: center !important;
}

#fourth_container menu {
   margin-top:15rem !important;
      height:10rem;
       width:100%;
       text-align: center;
       padding-top:2rem;
       
   }

   li.icon_bottom{
       text-align: center;
       margin-left:-6rem;
       
   }
   .icon_bottom i{
       font-size:5rem;
       text-align: center;
   }

}

/* MOBILE */
@media screen and (max-width: 768px) and (min-width: 483px) {

    /* NAV */

    .navbar-brand img{
       max-width:8rem !important;
       margin-left:-2rem;
       margin-top:-1rem;
       padding:0;
     }

     .navbar-toggle{
         margin-right:30px !important;
     }

     nav ul{
         float: none !important;
         margin-top:-2rem;
     }

     .navbar-collapse{
         position: absolute;
         top:-2rem;
     }

     .dropdown-menu{
         position: relative !important;
     }

     .navbar-nav .open .dropdown-menu {
margin-top:-2rem !important;
     }

     nav li a{
       font-size: 2.2rem;
       margin-top:11px;
       margin-bottom:20px;
       font-family: 'Montserrat', sans-serif;
       letter-spacing: 3px;
       color: white !important;
       z-index: 100000;
       position: relative;
   }
 
 header {
   height: 2rem !important;
 }

 .navbar-nav {

   background-color: black;
 }

 .navbar-nav li a{
     font-size:1.3rem;
     padding-left:2rem;
     padding-top:2%;
 }
   
   #front_photo img{
       margin-top:-3rem !important;
   }
   #cover_text{
       bottom:2rem;
       left:2.6rem;
       font-size: 1.2rem;
       letter-spacing: 3px;
   }

   
#first_container #rotate{ 
   font-size: 1.6rem;
}

#first_container #rotate { 
 top:7%;

}

#first_container #dress a{
   font-size: 1rem;
   letter-spacing: 4px;
   top:13%;
   left:18%;

}

#first_container #jackets a{
   font-size: 1rem;
   letter-spacing: 4px;
   top:30%;
   right:20%;
 
}

#first_container #sweatshirts a{
   font-size: 1rem;
   letter-spacing: 4px;
   top:76%;
   right:20%;
}

#second_container #background2 img{
   width:100%;
   height:20rem;
   top:0;
   z-index: -21;
   position: relative;
   opacity:0.5;
}


#second_container #photo4 img{
 display: none;
}


#second_container #photo5 img{
   display: none;
}

div#third_container{
   position: relative;
   top:0;
}

#third_container #background3 img{
   display:none;
}

#third_container #photo6 img{
  display: none;
}

#mail_front{
   margin-top: -15rem;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 2px;
   text-align: center;
   color:black !important;
   font-weight:700;
   
}

.container{
   top:-4rem !important;
   width:100%!important;
   z-index: 20;
   position: absolute !important;
   color:black !important;
}

.container h1{
   font-size: 2.5rem;
}


#contactform{
   bottom:-18rem;
   z-index: 20;
   left:5rem;
   position: absolute !important;
   color:black !important;
}


#mail_front p{
   margin-top: 1.6rem;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 2px;
   text-align: center;
   font-size: 1.2rem;
   font-weight: 700;
   color:black !important;
   
}

#mail_front input.email_input{
   margin-bottom:0;
   width:25rem !important;
   letter-spacing: 6px;
   height:2rem;
   font-size: 1rem !important;

}

#mail_front input.send_input{
  letter-spacing: 5px;
   height:6rem;
   font-size: 2.5rem !important;
   right:-55%;
   top:-5.6rem;

}


/* CONTAINER 4 FOOTER */

#footer_menu{
   display:none;
}

#mobile_footer_menu{
display:block;
margin: 0 auto;
text-align: center !important;
}

#fourth_container menu {
   margin-top:15rem !important;
      height:10rem;
       width:100%;
       text-align: center;
       padding-top:2rem;
       
   }

   li.icon_bottom{
       text-align: center;
       margin-left:-6rem;
       
   }
   .icon_bottom i{
       font-size:5rem;
       text-align: center;
   }

}

/* LAPTOP */
@media screen and (max-width: 1025px) and (min-width: 769px) {

    /* NAV */


    nav li a{
        font-size: 1.5rem;
    }

  #first_container #rotate{ 
    font-size: 2.4rem;
}

#first_container #dress a{
    left:17.5%;
    font-size:1rem;
}

#first_container #jackets a{
    font-size:1rem;
}

#first_container #sweatshirts a{
    font-size:1rem;
}
#second_container #background2 img{
    height:55rem;
}

#cover_text{
    bottom:4rem;
    font-size: 1.5rem;
}
.container{
    top:15%;
}


#mail_front input.email_input{
    margin-bottom:-5% !important;
    width:70%!important;
    letter-spacing: 10px;
    height:6rem;
    font-size: 2.5rem !important;
    text-align: left;
    margin-left:-2%;
    padding-left:2%;
    opacity: 0.7;
}

#mail_front input.send_input{
   background-color:transparent;
   border:transparent;
   letter-spacing: 10px;
    height:6rem;
    font-size: 3rem !important;
    text-align: right !important;
    right:1%;
    top: 0.5rem;
    position: relative;
}

#fourth_container menu ul li a{
    font-size:1rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    
}

.left2{
    float:left !important;
    margin-left:-4% !important;
    margin-right:18%;
}

.middle{
    text-align: center;
    float:left;
}

#fourth_container menu {
    margin-top:-2%;
   height:14rem;
    width:100%;
    background-color:black !important;
    padding-top:2%;
}

.icons{
    float:right;
    margin-right:1.4%;
  }


}

/* LAPTOP */
@media screen and (max-width: 1199px) and (min-width: 992px) {
    #second_container #background2 img{
        height:70rem;
    }

    #first_container #rotate{ 
        font-size: 3rem;
    }
  
.left2{
    float:left !important;
    margin-left:-1% !important;
margin-right:0;
}

.container{
    top:30%;
}

#mail_front input.email_input{
    margin-bottom:0 !important;
    width:100%!important;
    letter-spacing: 10px;
    height:6rem;
    font-size: 2.5rem !important;
    text-align: left;
    margin-left:10%;
    padding-left:2%;
    opacity: 0.7;
}

#mail_front input.send_input{
   background-color:transparent;
   border:transparent;
   letter-spacing: 10px;
    height:6rem;
    font-size: 2.5rem !important;
  margin-top:2rem;
    right:-68%;
    top:-8rem;
    position: relative;
}


}

/* LAPTOP */
@media screen and (max-width: 1441px) and (min-width: 1200px) {
    #second_container #background2 img{
        height:85rem;
    
    }
}

















