/* MOBILE */
@media screen and (max-width: 320px) {

     /* NAV */

     .navbar-brand img{
        max-width:12rem !important;
        margin-left:-0.5rem;
        padding:0;
      }
  
  header {
    height: 2rem !important;
  }

  .navbar-nav {

    background-color: black;
  }

  .navbar-nav li a{
      font-size:1rem;
      padding-left:2rem;
  }
    
    #front_photo img{
        margin-top:-3rem !important;
    }
    #cover_text{
        bottom:0.5rem;
        left:1rem;
        font-size: 1rem;
        letter-spacing: 3px;
    }

    
#first_container #rotate{ 
    font-size: 1.1rem;
}

#first_container #rotate { 
  top:7%;

}

#first_container #dress a{
    font-size: 0.8rem;
    letter-spacing: 1px;
    top:16%;
    left:16.5%;

}

#first_container #jackets a{
    font-size: 0.8rem;
    letter-spacing: 1px;
    top:30%;
    right:20%;
  
}

#first_container #sweatshirts a{
    font-size: 0.8rem;
    letter-spacing: 1px;
    top:74%;
    right:20%;
}

#second_container #background2 img{
    width:100%;
    height:20rem;
    top:0;
    z-index: -21;
    position: relative;
    opacity:0.5;
}


#second_container #photo4 img{
  display: none;
}


#second_container #photo5 img{
    display: none;
}

div#third_container{
    position: relative;
    top:0;
}

#third_container #background3 img{
    display:none;
}

#third_container #photo6 img{
   display: none;
}

#mail_front{
    margin-top: -15rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color:black !important;
    font-weight:700;
    
}

.container{
    top:-4rem !important;
    width:100%!important;
    z-index: 20;
    position: absolute !important;
    color:black !important;
}

.container h1{
    font-size: 1.4rem;
}


#contactform{
    bottom:-18rem;
    z-index: 20;
    position: absolute !important;
    color:black !important;
}


#mail_front p{
    margin-top: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color:black !important;
    
}

#mail_front input.email_input{
    margin-bottom:0;
    width:18rem !important;
    letter-spacing: 6px;
    height:2rem;
    font-size: 1rem !important;
 
}

#mail_front input.send_input{
   letter-spacing: 5px;
    height:6rem;
    font-size: 2.5rem !important;
    right:-54%;
    top:-4.1rem;

}


/* CONTAINER 4 FOOTER */

#footer_menu{
    display:none;
}

#mobile_footer_menu{
display:block;
margin: 0 auto;
text-align: center !important;
}

#fourth_container menu {
    margin-top:15rem !important;
       height:10rem;
        width:100%;
        text-align: center;
        padding-top:2rem;
        
    }

    li.icon_bottom{
        text-align: center;
        margin-left:-6rem;
        
    }
    .icon_bottom i{
        font-size:5rem;
        text-align: center;
    }

}

/* MOBILE */
@media screen and (max-width: 376px) and (min-width: 324px) {

    /* NAV */
    .navbar-brand img{
        max-width:7.5rem !important;
        margin-left:-2rem;
        padding:0;
      }
    
      .navbar-toggle {
          margin-right:3rem !important;
          background:white;
      }
    
      .navbar-collapse.in {
        overflow-y: scroll !important;
        width:80%;
        height:auto;
        z-index: 100000000000 !important;
    }
    
      .dropdown-menu>li>a{
        color:black !important;
        margin-left:1rem !important; 
        padding-left:1px !important;
        font-size: 1.3rem !important;
    
      }
    
      .dropdown-menu{
        background-color:rgb(255, 255, 255) !important;
        border-color: rgba(0,0,0,0) !important; 
        margin-left:1px !important;
       
      }
    
      
      nav li a{
        font-size: 1.7rem;
        margin-top:2px;
        margin-bottom:0 !important;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 3px;
        color: black !important;
        background-color:white !important;
    }
    
      nav ul{
        width:30rem;
        height:auto;
        background-color: white !important;
        margin-left:1rem !important; 
        margin-top: 1rem !important;
      }
    
      .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: -15px;
        margin-left: -3rem !important;
    }
    
      .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        background: rgb(255, 255, 255) !important;
        border-color: rgba(0,0,0,0) !important;
    }
    
      .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent !important;
    }
  /* COVER */

    #front_photo img{
        margin-top:-13rem;
        z-index: -10;
    }
    
    #cover_text{
        margin-top:7rem;
        margin-left:1.8rem;
        font-size: 0.8rem;
        letter-spacing: 4px;
    }

/* CONTAINER 4 FOOTER */

#footer_menu{
    display:none;
}

#mobile_footer_menu{
display:inherit;
}

#fourth_container menu {
    margin-top:48rem;
       height:5rem;
        width:100%;
        
    }

    .icon_bottom{
        margin-left:20%;
    }
    .icon_bottom i{
        font-size: 2.5rem;
        padding-top:1.2rem;
    }

}

/* MOBILE */
@media screen and (max-width: 426px) and (min-width: 377px) {

        /* NAV */
  .navbar-brand img{
    max-width:8rem !important;
    margin-left:-2rem;
    padding:0;
  }

  .navbar-toggle {
      margin-right:3.2rem !important;
      background:white;
  }

  .navbar-collapse.in {
    overflow-y: scroll !important;
    width:80%;
    height:auto;
    z-index: 100000000000 !important;
}

  .dropdown-menu>li>a{
    color:black !important;
    margin-left:1rem !important; 
    padding-left:1px !important;
    font-size: 1.4rem !important;

  }

  .dropdown-menu{
    background-color:rgb(255, 255, 255) !important;
    border-color: rgba(0,0,0,0) !important; 
    margin-left:1px !important;
   
  }

  
  nav li a{
    font-size: 1.7rem;
    margin-top:2px;
    margin-bottom:0 !important;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    color: black !important;
    background-color:white !important;
}

  nav ul{
    width:30rem;
    height:auto;
    background-color: white !important;
    margin-left:1rem !important; 
    margin-top: 1rem !important;
  }

  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -3rem !important;
}

  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: rgb(255, 255, 255) !important;
    border-color: rgba(0,0,0,0) !important;
}

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent !important;
}
  /* COVER */

    #front_photo img{
        margin-top:-13rem;
        z-index: -10;
    }
    
    #cover_text{
        margin-top:10rem;
        margin-left:1.8rem;
        font-size: 0.8rem;
        letter-spacing: 4px;
    
    }
/* CONTAINER 4 FOOTER */

#footer_menu{
    display:none;
}

#mobile_footer_menu{
display:inherit;
}

#fourth_container menu {
    margin-top:55rem;
       height:5rem;
        width:100%;
        
    }

    .icon_bottom{
        margin-left:25.5%;
    }
    .icon_bottom i{
        font-size: 2.5rem;
        padding-top:1.2rem;
    }

}

/* MOBILE */
@media screen and (max-width: 767px) and (min-width: 427px){

    /* NAV */

    .navbar-brand img{
        max-width:12rem !important;
        margin-left:-0.5rem;
        padding:0;
      }
  
  header {
    height: 2rem !important;
  }

  nav ul{
      margin-top:-4.7rem !important;
    margin-left:27% !important;
  }

  nav li a{
    font-size: 1.4rem;
    margin-top:5px;
    margin-bottom:20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    color: white !important;
}
  /* NAV */
  .navbar-brand img{
    max-width:6rem !important;
    margin-left:-2rem;
    padding:0;
  }

  .navbar-toggle {
      margin-right:2rem !important;
      background:white;
  }

  .navbar-collapse.in {
    overflow-y: scroll !important;
    width:80%;
    height:auto;
    z-index: 100000000000 !important;
}

  .dropdown-menu>li>a{
    color:black !important;
    margin-left:1rem !important; 
    padding-left:1px !important;
    font-size: 1.2rem !important;

  }

  .dropdown-menu{
    background-color:rgb(255, 255, 255) !important;
    border-color: rgba(0,0,0,0) !important; 
    margin-left:1px !important;
   
  }

  
  nav li a{
    font-size: 1.7rem;
    margin-top:2px;
    margin-bottom:0 !important;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    color: black !important;
    background-color:white !important;
}

  nav ul{
    width:30rem;
    height:auto;
    background-color: white !important;
    margin-left:1rem !important; 
    margin-top: 1rem !important;
  }

  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -3rem !important;
}

  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: rgb(255, 255, 255) !important;
    border-color: rgba(0,0,0,0) !important;
}

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent !important;
}


/* CONTAINER 4 FOOTER */

#fourth_container menu {
margin-top:192rem;
   height:14rem;
    width:100%;
    background-color:black !important;
}

#footer_menu{
margin-left:-2.3rem;
}

#fourth_container menu ul{
    margin-top:3.5rem;
    list-style: none;
    float:left;
}

#fourth_container menu ul li a{
    font-size:1rem;
    letter-spacing: 5px;
    
}

#fourth_container menu ul li{
    padding-bottom: 0.5rem;
    width:100%;
    height:auto;
    margin-right:3.2rem !important;
}

.middle{
    text-align: center;
}

.left a{
    float: right !important;
    margin-right:-21rem !important;
}

.icon1 a i{
    margin-top:2.179rem;
    float:right;
    font-size:2.5rem !important;
    margin-right:-19.9rem;
}
.icon2 a i{
    margin-top:1.6rem;
    font-size:2.7em !important;
    float:right;
    margin-right:-17.4rem;

}

}





/* LAPTOP */
@media screen and (max-width: 1025px) and (min-width: 768px) {

    /* NAV */


    nav li a{
        font-size: 1.5rem;
    }

  #first_container #rotate{ 
    font-size: 2.4rem;
}

#first_container #dress a{
    left:17.5%;
    font-size:1rem;
}

#first_container #jackets a{
    font-size:1rem;
}

#first_container #sweatshirts a{
    font-size:1rem;
}
#second_container #background2 img{
    height:55rem;
}

#cover_text{
    bottom:4rem;
    font-size: 1.5rem;
}
.container{
    top:15%;
}


#mail_front input.email_input{
    margin-bottom:-5% !important;
    width:70%!important;
    letter-spacing: 10px;
    height:6rem;
    font-size: 2.5rem !important;
    text-align: left;
    margin-left:-2%;
    padding-left:2%;
    opacity: 0.7;
}

#mail_front input.send_input{
   background-color:transparent;
   border:transparent;
   letter-spacing: 10px;
    height:6rem;
    font-size: 3rem !important;
    text-align: right !important;
    right:1%;
    top: 0.5rem;
    position: relative;
}

#fourth_container menu ul li a{
    font-size:1rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    
}

.left2{
    float:left !important;
    margin-left:-4% !important;
    margin-right:18%;
}

.middle{
    text-align: center;
    float:left;
}

#fourth_container menu {
    margin-top:-2%;
   height:14rem;
    width:100%;
    background-color:black !important;
    padding-top:2%;
}

.icons{
    float:right;
    margin-right:1.4%;
  }


}

/* LAPTOP */
@media screen and (max-width: 1199px) and (min-width: 992px) {
    #second_container #background2 img{
        height:70rem;
    }

    #first_container #rotate{ 
        font-size: 3rem;
    }
  
.left2{
    float:left !important;
    margin-left:-1% !important;
margin-right:0;
}

.container{
    top:30%;
}

#mail_front input.email_input{
    margin-bottom:0 !important;
    width:100%!important;
    letter-spacing: 10px;
    height:6rem;
    font-size: 2.5rem !important;
    text-align: left;
    margin-left:10%;
    padding-left:2%;
    opacity: 0.7;
}

#mail_front input.send_input{
   background-color:transparent;
   border:transparent;
   letter-spacing: 10px;
    height:6rem;
    font-size: 2.5rem !important;
  margin-top:2rem;
    right:-68%;
    top:-8rem;
    position: relative;
}


}

/* LAPTOP */
@media screen and (max-width: 1441px) and (min-width: 1200px) {
    #second_container #background2 img{
        height:85rem;
    
    }
}

















