/* COVER */
div#front_photo_position{
    position: relative;
    z-index: -10;
}

#front_photo img{
    width:100%;
    height:auto;
    margin-top:-18rem;
    z-index: -10;
}

#cover_text{
    position: absolute;
    bottom:8rem;
    left:10rem;
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    color: white !important;
    text-align: center;

}
.nav-colored { background-color:#000 !important; }
.nav-transparent { background-color:transparent !important;}

/* CONTAINER 1 */

div#first_container{
    position: relative;
    top:0;
}

#first_container #background img{
    width:100%;
    height:350%;
    top:0;
    z-index: -20;
    position: relative;
}

#first_container #photo1 img{
    width:32%;
    height:auto;
    left:16%;
    top:5%;
    z-index: -15;
    position: absolute;
}


#first_container #photo2 img{
    width:30%;
    height:auto;
    top:5%;
    right:19%;
    z-index: -20;
    position: absolute;
}


#first_container #photo3 img{
    width:30%;
    height:auto;
    top:38.6%;
    right:19%;
    z-index: -20;
    position: absolute;
}

/* CONTAINER 1 TEXT */

#first_container #rotate{ 
    font-size: 4.5rem;
  padding:none;
    font-family: 'Montserrat', sans-serif;   
    color:black;   

}

#first_container #rotate:hover{
    text-decoration: none;
    color:white;
}

#rotate{
    transform: scaleY(0.5);
    transform: scaleX(0.9999);
    display: inline-block;

}

#first_container #rotate { 
    width:0;
    margin:0 auto;
    word-wrap: break-word;  
  top:8%;
  right:15%;
  position:absolute;
  text-align: center;
  font-weight: 700;
}

#first_container #dress a{
    color:white;
    font-family: 'Montserrat', sans-serif;  
    font-size: 1.3rem;
    letter-spacing: 5px;
    position:absolute;
    top:11%;
    left:20%;
    z-index: 10;
}

#first_container #jackets a{
    color:white;
    font-family: 'Montserrat', sans-serif;  
    font-size: 1.3rem;
    letter-spacing: 5px;
    position:absolute;
    top:30%;
    right:21%;
    z-index: 10;
}

#first_container #sweatshirts a{
    color:white;
    font-family: 'Montserrat', sans-serif;  
    font-size: 1.3rem;
    letter-spacing: 5px;
    position:absolute;
    top:78%;
    right:21%;
    z-index: 10;
    text-align: center;
}


/* CONTAINER 2 */

div#second_container{
    position: relative;
    top:0;
}

#second_container #background2 img{
    width:100%;
    height:105rem;
    top:0;
    z-index: -21;
    position: relative;
    opacity:0.5;
}

#second_container #photo4 img{
    width:45%;
    height:auto;
    left:5%;
    top:-2%;
    z-index: -15;
    position: absolute;
}


#second_container #photo5 img{
    width:45%;
    height:auto;
    top: 8%;
    right:3%;
    z-index: -20;
    position: absolute;
}

/* CONTAINER 3 */

div#third_container{
    position: relative;
    top:0;
}

#third_container #background3 img{
    width:100%;
    height:135%;
    top:0;
    z-index: -21;
    position: relative;
}

#third_container #photo6 img{
    width:45%;
    height:auto;
    right:1%;
    top:20%;
    z-index: -15;
    position: absolute;
}

#mail_front{
    margin-top: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color:black !important;
    font-weight:700;
    
}

.container{
    top:35%;
    width:50%!important;
    z-index: 20;
    position: absolute !important;
    color:black !important;
}

#contactform{
    bottom:25%;
    z-index: 20;
    position: absolute !important;
    color:black !important;
}


#contactform{
    bottom:25%;
    z-index: 20;
    position: absolute !important;
    color:black !important;
}


#mail_front p{
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    color:black !important;
    
}

#mail_front input.email_input{
    margin-bottom:5% !important;
    width:130%!important;
    letter-spacing: 10px;
    height:6rem;
    font-size: 2.5rem !important;
    text-align: left;
    margin-left:15%;
    padding-left:2%;
    opacity: 0.7;
}

#mail_front input.send_input{
   background-color:transparent;
   border:transparent;
   letter-spacing: 10px;
    height:6rem;
    font-size: 2.5rem !important;
    text-align: right !important;
    right:-110%;
    top:-8rem;
    position: relative;
}


#mail_front input.send_input:hover{
    font-size:4.2rem;
    margin-right:0.2rem;
    color:white;


}

/* CONTAINER 4 FOOTER */



#fourth_container menu {
    margin-top:-2%;
   height:14rem;
    width:100%;
    background-color:black !important;
    padding-top:2%;
}

#fourth_container menu ul{
    list-style: none;
}

#fourth_container menu ul li a{
    color:white;
    font-size:1.6rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 8px;
    
}

#fourth_container menu ul li a:hover{
text-decoration: none;
color:rgba(255, 255, 255, 0.411);
    
}

#fourth_container menu ul li{
    padding-bottom: 0.5rem;
}

.middle{
    text-align: center;
}

.left a{
    float: right !important;

}

.icons{
  float:right;
  margin-right:2.4%;
}


a i:hover{
    color:rgba(255, 255, 255, 0.411);
}


#mobile_footer_menu{
    display:none;
}












