/* RETAILERS MAIN */


.h2_about{
    text-align: center !important;
    font-size: 2.5rem !important;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    margin-bottom:4rem;
    margin-top:4rem;
}

.center_r{
    text-align: center;
    border-right: 2px black solid;
    border-left: 2px black solid;
    max-width: 425px;
    margin:0.5rem;
    margin-bottom:3rem;

}

.retail_p{
    font-size: 1.8rem !important;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}


.center_r a{
    color:black;
}

.center_r a:hover{
    color:rgb(75, 73, 73);
    text-decoration: none;
    font-size: 2.8rem;
}
