
.dropbtn {
    font-family: 'Montserrat', sans-serif;  
    font-size: 1.8rem;
    letter-spacing: 3px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 16px;
  border: none;
  cursor: pointer;
  width:900px;
  height: auto;

}


div.dropdown.drop2{
    z-index: 0;
}

button {
    overflow: initial !important;
}

.left li{
 display: inline-block;
 text-align: center;
 list-style: none;

}

.left{
 text-align: center !important;
   }

.c_active{
    font-weight: 700;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(255, 255, 255);
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.drop2{
    margin-bottom: 10%;
}

.dropdown-content {
  display: none;
  position: absolute;
  left:1rem;
  background-color:none;
  min-width: 920px;
  overflow: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
  text-align: center !important;
  font-family: 'Montserrat', sans-serif;  
}

.show li{
    height:4rem;
    width:auto;
    padding-top:1rem;
}

.show{
    padding-left:1.8rem !important;
}

.dropdown-content a {
  color: black;
  letter-spacing: 3px;
font-size: 1.4rem;
  padding: 0;
  text-decoration: none;
  display: block;
  float:left;
}

.dropdown a:hover {
    text-decoration: none;
    font-weight: 700;
}

.show {
    display: block;
}

button:focus {outline:0;}


   /* MOBILE */
   @media screen and (max-width: 320px) {


    .dropbtn {
      width:100%;
      top:4.5rem;
      position: fixed;
      background: transparent;
    }

    .h1_about{
        margin-top:10rem;
    }

    .dropdown-content {
        position: fixed;
        bottom:2rem;
        left:1rem;
        background-color:white;
        min-width: 100%;
        overflow: inherit;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1000;
        text-align: center !important;
        font-family: 'Montserrat', sans-serif;  
      }
      

}

   /* MOBILE */
   @media screen and (max-width: 482px) {


    .dropbtn {
      width:100%;
      top:4.5rem;
      position: fixed;
      background: transparent;
    }

    .h1_about{
        margin-top:10rem;
    }

    .dropdown-content {
        position: fixed;
        bottom:2rem;
        left:1rem;
        background-color:white;
        min-width: 100%;
        overflow: inherit;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1000;
        text-align: center !important;
        font-family: 'Montserrat', sans-serif;  
      }
      

}

   /* MOBILE */
   @media screen and (max-width: 768px) {


    .dropbtn {
      width:100%;
      top:4.5rem;
      position: fixed;
      background: transparent;
    }

    .h1_about{
        margin-top:10rem;
    }

    .dropdown-content {
        position: fixed;
        bottom:2rem;
        left:1rem;
        background-color:white;
        min-width: 100%;
        overflow: inherit;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1000;
        text-align: center !important;
        font-family: 'Montserrat', sans-serif;  
      }
      

}



